.sites{
  align-items: left;
  font-size: 30px;
}
.place-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.site {
  font-size: 30px;
  text-align: center;
}
article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: solid 1px #FF5A5F;
  border-radius: 4px;
  float: left;
  position: relative;
}
.price_by_night {
  color: #FF5A5F;
  border: solid 4px #FF5A5F;
  min-width: 60px;
  height: 60px;
  float: right;
  font-size: 30px;
  border-radius: 100%;
  padding-top: 7px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: -70px;
  margin-right: -10px;
}
.information {
  height: 80px;
  border-top: solid 1px #DDDDDD;
  border-bottom: solid 1px #DDDDDD;
  margin-top: 60px;
  display: flex;
  padding-left: 50px;
}
.max_guest {
  width: 100px;
  height: 100px;
  background-image: url('../images/icon_group.png');
  background-repeat: no-repeat;
  margin-bottom: auto;
  padding-top: 50px;
}
.number_rooms {
  width: 100px;
  height: 100px;
  background-image: url('../images/icon_bed.png');
  background-repeat: no-repeat;
  padding-top: 50px;
}
.number_bathrooms {
  width: 100px;
  height: 100px;
  background-image: url('../images/icon_bath.png');
  background-repeat: no-repeat;
  padding-top: 50px;
}
.amenities {
  margin-top: 40px;
}
.amen{
  font-size: 16px;
  border-bottom: solid 1px #DDDDDD;
  padding-right: 350px;
}
