footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    border-bottom: 1px, #CCCCCC;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}